:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1rem;
  font-weight: 400;
  font-size: 3.5vmin;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0000FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --common-gap: 0.4rem;
  --common-radius: 0.3rem;

  --color-pure-blue: #0000FF;
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-angle-rotate {
  from {
    --border-angle: 0deg;
  }

  to {
    --border-angle: 360deg;
  }
}